<div class="hidden sm:flex items-center space-x-5">
  <%= link_to "Dashboard", root_path, data: { turbo: true }, 
          class: "nav-desktop-item" %>

  <% if current_user && user_signed_in? %>
      <%= link_to "Admin", admin_dashboard_path, 
          class: "nav-desktop-item" if current_user.admin? %>
  <% end %>
</div>
