<div class="pt-4 pb-3 border-t border-gray-200">
  <div class="space-y-1">
    <%= link_to "Log in", new_user_session_path,
        class: "block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100",
        data: { action: "nav#handleNavClick" } %>
    <%= link_to "Sign up", new_user_registration_path,
        class: "block px-4 py-2 text-base font-medium text-blue-600 hover:text-blue-800 hover:bg-gray-100",
        data: { action: "nav#handleNavClick" } %>
  </div>
</div>
