<div class="-mr-2 flex items-center sm:hidden">
  <button type="button" 
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500"
          data-action="nav#toggleMenu"
          data-nav-target="openButton">
    <%= heroicon "bars-3", variant: :outline, options: { class: "block h-6 w-6" } %>
  </button>
  <button type="button" 
          class="hidden inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500"
          data-action="nav#toggleMenu"
          data-nav-target="closeButton">
    <%= heroicon "x-mark", variant: :outline, options: { class: "block h-6 w-6" } %>
  </button>
</div>
