<div class="relative hidden sm:block">
  <button type="button"
          data-action="nav#toggleDropdown"
          data-dropdown-id="userMenu"
          class="flex items-center space-x-1 text-gray-800 hover:text-blue-600 focus:outline-none">
    <span class="font-medium"><%= current_user.username %></span>
    <%= heroicon "chevron-down", variant: :outline, options: { class: "h-4 w-4 mt-1" } %>
  </button>
  
  <div data-nav-target="dropdown"
      data-dropdown-id="userMenu"
      class="hidden absolute right-0 mt-5 w-48 bg-white rounded-md shadow-lg py-1 ring-1 ring-black ring-opacity-5 z-50">

    <%= link_to "My Account", edit_user_registration_path, 
        class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100",
        data: { action: "nav#closeAll" } %>

    <%= button_to main_app.destroy_user_session_path, 
        method: :delete,
        form: { 
          data: { turbo: false },
          class: "button_to"
        },
        class: "block w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-gray-100",
        data: { action: "nav#closeAll" } do %>
      Sign out
    <% end %>
  </div>
</div>
