<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Products</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @products.each do |product| %>
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <!-- Add image handling here -->
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <%= link_to product.name, product_path(product), class: "font-medium text-gray-900" %>
              </h3>
              <p class="mt-1 text-sm text-gray-500"><%= truncate(product.description, length: 100) %></p>
            </div>
            <p class="text-sm font-medium text-gray-900">$<%= product.price_in_dollars %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
